@media only screen and (max-width: 991px) {
    body {
        padding-top: 60px;
    }
    .mobile{
        display: block;
    }
    .barstog {
        color: #fff;
        font-size: 20px;
        margin-top: 8px;
    }
    .navigation {
        flex-wrap: wrap;
        position: absolute;
        left: 0;
        top: 100%;
        background: #2c2c2c;
        padding: 10px;
        display: none;
    }
    .navigation.active {
        display: block;
    }
    
    .navigation ul {
        flex-wrap: wrap;
        gap: 10px !important;
    }
    
    .navigation ul li {
        width: 100%;
    }
    .bannerText .bannerHeader {
        font-size: 30px;
    }
    
    .servicesInr {
        top: 0;
    }
    .servicesList ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 0px;
    }
    
    .servicesList ul li {
        width: 100%;
        margin: 10px 0;
    }
    
    .testmonialBx {
        margin: 10px 0;
    }
    
    .overflowTxt {
        left: 0;
        min-width: 1px;
    }
    
    .floatImg {
        position: static;
    }
    
    .brandInr {
        padding-right: 0px;
    }
    
    .brandList {
        flex-wrap: wrap;
    }
    
    .brandList li {
        width: 46%;
        text-align: center;
    }
    .galleryImg img {
        height: 100px;
    }
    .srvThumbnail {
        padding: 55px 15px;
    }
    .contact_detail {
        flex-wrap: wrap;
        gap: 10px;
    }
    
    .contact_detail_content {
        display: block !important;
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }
    .contact_detail_content img{
        margin-bottom: 10px;
    }
    .contact_form_content {
        display: block !important;
    }
    
    .contactContentBx {
        padding: 30px;
        background-size: 100% 100%;
    }
    .contactBtn{
        flex-wrap: wrap;
        justify-content: center;
    }
    .contactBtn button{
        width: 160px;
        margin: 20px auto;
        text-align: center;
        display: block;
    }
    .contact_form_content .form-floating.mb-4.mt-5 {
        margin-top: 0 !important;
    }
    .servicesInr > p {
        flex-wrap: wrap;
    }
    .srvList {
        padding: 40px 0 0 !important;
    }
    
    .srvList .heading {
        margin: 0 0 40px !important;
    }
    .visionImg{
        margin-bottom: 20px;
    }
    .visionContent .heading {
        margin: 10px 0 10px;
    }
    .popupInr {
        width: 90%;
        max-height: 90vh;
        overflow: auto;
    }
    
    .customRadio label {
        padding: 10px 30px;
    }
    
    .popupInr .px-5 {
        padding-right: 30px !important;
        padding-left: 30px !important;
    }
    
    .closeBtn {
        right: 0;
        top: 0;
    }
    .servicesInr h2 {
        margin-bottom: 20px;
    }
    section#start, .contact_page{
        padding-top: 0;
    }
}