@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');
html{
    scroll-padding-top: 70px;
}
body{
    margin: 0;
    padding: 0 0 0;
    font-family: 'Manrope', sans-serif;
    
}

a,
a:hover,
a:focus {
    text-decoration: none;
    transition: all 400ms ease;
}
button{
    outline: none;
    box-shadow: none;
    cursor: pointer;
}
section:not(.services){
    overflow: hidden;
}
img {
    max-width: 100%
}
.mobile{
    display: none;
}
input,
button {
    outline: none;
    box-shadow: none;
}
.gap-10{
    gap: 10px !important;
}
.gap-20{
    gap: 20px !important;
}
.gap-30{
    gap: 30px !important;
}
.gap-50{
    gap: 50px !important;
}
.gap-100{
    gap: 100px !important;
}
.fullWidth{
    width: 100%;
}
section#start, .contact_page {
    padding-top: 70px;
}
.mainHeader {
    background: #363837!important;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 15px 0;
    z-index: 9;
}

.listInline {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.listInline li {
    transform: scale(1)!important;
    transition: all 500ms ease;
}

.servicesList .listInline li:hover {
    cursor: pointer;
    background: linear-gradient(321.22deg,#89ac76 -144.13%,#b5e79a)!important;
    box-shadow: 0 6px 12px #233444;    
}

.navigation a {
    color: #fff;
    font-size: 15px;
}

.greenBtn {
    padding: 10px 40px;
    display: inline-flex;
    background: #50D37B;
    border-radius: 12px;
    color: #fff;
}
.greenBtn:hover{
    color: #005608;
}
.bannerText{
    height: 100%;
    padding: 3% 3% 3% 6%;
}
.banner{
    background: rgba(34, 107, 208, 0.025) !important;
}
.bannerText .bannerHeader {
    color: #182e4e;
    font-size: 52px;
    font-weight: 600;
    margin:0px 0 30px;
    text-align: left;
}
.servicesInr {
    max-width: 90%;
    background: #fff;
    padding: 30px 50px;
    margin: 0 auto;
    box-shadow: rgb(196 196 196 / 30%) 0px 10px 100px;
    position: relative;
    top: -70px;
}

.servicesInr h2, .heading {
    font-size: 6vmin;
    font-weight: 600;
    color: #182e4e;
}

.servicesInr p, .para {
    font-size: 17px;
    color: #130f26;
    font-weight: 500;
    opacity: .5;
}
.servicesList li {
    padding: 15px 60px;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 30px 35px rgb(255 169 34 / 15%);
    text-align: center;
}

.servicesList li span {
    display: block;
    color: #fff;
    font-size: 13px;
    margin-top: 7px;
}

.servicesList li.ser1 {
    background: linear-gradient(315deg,#6074f7,#97b6ff);
}

.servicesList li.ser2 {
    background: linear-gradient(315deg,#ffa61e,#ffcd47);
}

.servicesList li.ser3 {
    background: linear-gradient(220.53deg,#9bf763,#26ab5b 76.95%),linear-gradient(155.43deg,#ff627a 2.5%,#ef0112 98.32%);
}

.servicesList li.ser4 {
    background: linear-gradient(315deg,#6074f7,#97b6ff);
}

.servicesList li.ser5 {
    background: linear-gradient(180deg,#bc94ff,#9f66ff);
}

.greenTxt {
    color: #89ac76!important;
}
.srvContent h3 {
    font-size: 22px;
    color: #182e4e;
    margin: 0 0 10px;
}

.srvContent p {
    margin: 0;
}
.srvThumbnail{
    background: url(../images/imondu_keyvisual-03.png) right 0 no-repeat;
    background-size: 500px 100%;
}
.srvThumbnail img {
    max-height: 350px;
    min-width: 330px;
    object-fit: cover;
    border: 15px solid #fff;
}
.visionImg img {
    width: 100%;
}

.vision {
    padding: 50px 0;
}

.overflowTxt {
    min-width: 1000px;
    background: #fff;
    padding: 25px;
    left: -50%;
    position: relative;
    padding-bottom: 5px;
}

.overflowTxtBx {
    padding: 25px;
    background: #fff;
    border-radius: 20px;
    box-shadow: none;
    transform: scale(1);
    transition: all 500ms ease;
    margin-bottom: 30px;
}

.overflowTxtBx h3 {
    font-size: 20px;
}

.overflowTxtBx:hover {
    background: linear-gradient(321.22deg,#89ac76 -144.13%,#b5e79a);
    border-radius: 20px;
    box-shadow: 0 30px 35px hsl(99deg 56% 74% / 60%);
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
    transition: all 500ms ease;
}
.testmonial .container {
    padding: 50px;
    background: url(../images/clients_bg.webp) 0 0 no-repeat;
    background-size: cover;
}

.testmonial h2 {
    text-align: center;
    margin: 0 0 30px;
    color: #fff;
}

.testimonialUser img {
    width: 90px;
    border-radius: 12px;
}

.testimonialUser h4 {
    font-size: 16px;
    margin: 0;
}

.testimonialUser ul li {
    font-size: 14px;
    color: #b5e79a;
}

.testimonialUser ul {
    gap: 5px;
}

.testmonialBx > p {
    font-size: 17px;
    color: #111112;
    opacity: 0.7;
    min-height: 170px;
}

.testmonialBx {
    padding: 20px 30px;
    background: #fff;
    border-radius: 20px;
    transform: scale(1)!important;
    transition: all 500ms ease;
    box-shadow: none;
}

.testmonialBx:hover {
    background: linear-gradient(321.22deg,#89ac76 -144.13%,#b5e79a)!important;
    box-shadow: 0 30px 35px #233444;
    -webkit-transform: scale(1.05)!important;
    transform: scale(1.05)!important;
    transition: all 500ms ease;
}

.testmonialBx:hover p {
    color: #fff;
}

.testmonialBx:hover .testimonialUser ul li, .testmonialBx:hover .testimonialUser h4 {
    color: #fff;
}
.Bekannt .container {
    padding: 50px;
    position: relative;
    background: url(../images/knownfrom_bg.svg) 0 0 no-repeat;
    background-size: cover;
}

section.Bekannt h2 {
    color: #fff;
    margin: 0 0 40px;
}
.Bekannt p {
    color: #fff;
}
.brand {
    max-width: 161px;
}
.brandInr {
    padding-right: 180px;
}

section.Bekannt {
    margin: 50px 0;
}

.brandList li {
    background: #fff;
    border-radius: 20px;
}

.brandList li img {
    height: 100px;
    width: 150px;
    object-fit: contain;
    padding: 0 10px;
}

.brandList {
    margin-top: 30px;
}

.floatImg {
    position: absolute;
    right: 0;
    top: -80px;
    height: 420px;
}

.galleryImg {
    max-height: 500px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.galleryImg img {
    width: calc(100%/4 - 5px);
    height: 250px;
    object-fit: cover;
}

footer {
    background: #000;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-size: 15px;
}

footer a {
    text-decoration: underline;
}
/*============contact-us==============*/
.contactBanner{
    background: url(../images/contact_banner.png) 0 0 no-repeat;
    padding: 150px 0;
    background-size: cover;
}
.contactBannerBx {
    max-width: 500px;
    background: #89ac76!important;
    border-radius: 10.94px!important;
    padding: 30px;
}

.contactBannerBx h1 {
    color: #fff;
}
.contactContentInr{
    background: url(../images/contact_note.png) 0 0 no-repeat;
    background-size: cover;
    padding: 20px;
    display: flex;
    justify-content: end;
}
.contactContentBx{
    background: url(../images/contact_note_hl.png) 0 0 no-repeat;
    background-size: cover;
    padding: 30px 80px 30px 200px;
}

.contactContentBx h2 {
    font-size: 30px;
    color: #000;
}

.contactContentBx h3 {
    font-size: 16px;
    color: #000;
    margin: 0 0 20px;
}

.contactContentBx h4 {
    font-size: 13px;
    color: #373737;
}

.contactContentBx p {
    margin: 5px 0;
    font-size: 15px;
    color: #000;
    font-weight: 500;
}
.form-floating>.form-control {
    border: none;
    border-bottom: solid 1px #ccc;
    border-radius: 0px;
    outline: none;
    box-shadow: none;
    padding: 0 5px;
}

.form-floating>label {
    padding: 12px 0 0;
    font-size: 18px;
    color: #0000009c;
}

.form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
    font-size: 16px;
}

input#term {
    border: solid 10px #000;
    opacity: 0;
}

input#term + label:before {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    top: 1px;
    left: -20px;
    border: solid 2px #89ac76;
}

input#term + label {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
}

input#term:checked + label:after {
    content: "";
    content: "/f00c";
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    position: absolute;
    left: -16px;
    top: 0px;
    font-size: 19px;
    color: #fff;
}

input#term:checked + label:before {
    background: #89ac76;
}
.popup {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000000b5;
    z-index: 99999;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popupInr {
    width: 600px;
    background: #fff;
    padding: 30px;
    position: relative;
}

.form h1 {
    font-size: 30px;
    text-align: center;
    margin: 0 0 15px;
}

.form-group {
    margin: 0 0 15px;
}

.form h3 {
    font-size: 20px;
}

.form-control {
    height: auto;
    padding: 12px 20px;
    border: 1px solid #9d9d9d;
    border-radius: 0;
    color: #004b54;
    box-shadow: none;
    outline: none;
    resize: none;
}
.closeBtn {
    position: absolute;
    right: -15px;
    top: -15px;
    width: 40px;
    height: 40px;
    background: #E85700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.customRadio label {
    padding: 10px 90px;
    background: #fff;
    cursor: pointer;
    border: solid 2px #D9D9D9;
    color: grey;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.customRadio input {
    display: none;
}

.customRadio input:checked + label {
    background: #36A0F6;
    color: #fff;
    border-color: #36A0F6;
}

.customRadio label:before {
    content: "";
    width: 16px;
    height: 16px;
    background: #D9D9D9;
    display: inline-block;
    border-radius: 50%;
}

.customRadio input:checked + label:before {
    background: #fff;
}
.middleFormWrp {
    width: 500px;
    margin: 0px auto;
    padding: 50px 40px;
    box-shadow: 0 0 10px #00000054;
}
.middleForm {
    min-height: calc(100vh);
    padding: 50px 0;
    align-items: center;
    display: flex;
}

.btn-submit {
    border-radius: 20px;
    background-color: #50D37B;
    color: #fff;
}

.btn-submit:hover {
    color: #fff;
}

.btn-cancel {
    border-radius: 20px;
    color: #fff;
    background-color: #E85700;
}

.btn-cancel:hover {
    color: #fff;
}

.pageWrp {
    display: flex;
}
.unorderList {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.sidebar {
    flex-basis: 250px;
    background: #363837;
    min-height: 100vh;
    border-radius: 0;
}
.sidebar.shrink {
    flex-basis: 95px;
    min-width: 95px;
}
.sidebar.shrink + .rightArea {
    flex-basis: calc(100% - 95px);
    max-width: calc(100% - 95px);
}
.sidebar.shrink .sidebarList li a {
    justify-content: center;
    flex-wrap: wrap;
    display: block;
    text-align: center;
}
.sidebar.shrink .sidebarList li a span {
    display: block;
    font-size: 12px;
    text-align: center;
}
.rightArea {
    flex-basis: calc(100% - 250px);
    padding: 10px 20px 20px;
    max-width: calc(100% - 250px);
}

.sidebarBrand {
    padding: 20px;
    margin-bottom: 20px;
}
.sidebar.shrink .sidebarBrand {
    padding: 20px 10px;
}
.sidebarBrand a {
    font-size: 20px;
    color: #fff;
}
.sidebarList li a {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    position: relative;
}
.sidebarList li a:before, .sidebarList li.active a:before {
    width: 5px;
    height: 100%;
    background: #fff;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 0 10px 10px 0;
    opacity: 0;
}

.sidebarList li a:hover:before, .sidebarList li.active a:before {
    opacity: 1;
}
.sidebarList li a:hover {
    background: #282828;
}

.sidebarList li .border {
    border: 1px solid #40414A !important;
    border-bottom: none !important;
}
.steps-radio-title {
    padding: 12px 0 0;
    font-size: 18px;
    color: #0000009c;
}

.comment {
    border: none;
    border-bottom: 1px solid #ccc;
}

.comment:focus {
    border-color: unset;
    outline: 0;
    box-shadow: unset;
}
